<html>
    <head>
        <title>Display!</title>
    </head>
    <body>
        <!--<div>
            <form method="POST" action="/insert/">
                <div>
                  <input name="title" value="Some title" />
                </div>
                <div>
                  <textarea name="body" rows="8" cols="80">Some text!</textarea>
                </div>
                <div>
                    <button>Insert!</button>
                </div>
            </form>
        </div>-->
        <h1>ACP Times</h1>
        <div>
            <pre><code>{{ result }}</code></pre>
            <a href="/">Go Back</a>
        </div>
    </body>
</html>
